replicaCount: 1
image:
  repository: 853660505909.dkr.ecr.ap-northeast-2.amazonaws.com/springboot
  tag: b576e705a4d0447a5895527302d4e730e0612789
  pullPolicy: Always
service:
  type: NodePort
  port: 8080
configMapName: backend-config
secretName: backend-secret
containerPort: 8080
